.scrollWrapper{
    width: calc(100% - 105px);
    position: relative;
}

.scrollWrapper.fixed{
    height: 100vh;
    overflow-y: hidden;
}

.scrollWrapper__scroll{
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}

.scrollWrapper__content{
    width: calc(100% + 10px);
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 10px;
}

.scrollWrapper__hidden{
    width: 100%;
    overflow-x: hidden;
    height: 100%;
}